.home {
  background-color: #191c26;
  min-height: 100vh;
  width: 100%;
  padding-left: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 20px;
  }

  &__image {
    //transform: translate(0, 100px);
    //opacity: 0;
    //transition: all 1.2s ease .4s;
  }

  &__name {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 1.2;
    color: #ffffff;
    //transform: translate(0, 100px);
    //opacity: 0;
    //transition: all 1.2s ease .4s;
  }

  &__description {
    max-width: 500px;
    margin: 0 auto 32px;
    color: #a9afc3;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    //transform: translate(0, 100px);
    //opacity: 0;
    //transition: all 1.2s ease .4s;
  }

  &__socialLinks {
    //transform: translate(0, 100px);
    //opacity: 0;
    //transition: all 1.2s ease .4s;
  }

  &__button {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    border: 2px solid #a9afc3;
    padding: 15px 35px;
    border-radius: 30px;
    margin-top: 35px;
    //transform: translate(0, 100px);
    //opacity: 0;
    //transition: all 1.2s ease .4s;
  }

}